body {
    font-family: sans-serif;
    background-color: blanchedalmond;
    width: 600px;
}
h1 {
    text-align: center;
}
main img {
     text-align: center;
}
header a {
    text-decoration: none;
    border: 1px solid red;
    background-color: rgb(103, 204, 255);
    padding: 10px;
    border-radius: 15px;
    
}
a:hover {
background-color: rgb(127, 255, 161);
color:rgb(0, 21, 255);
padding: 20px;
}
